<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/languageCenter.css" />
</head>
<body data-bs-theme="dark">

<div th:fragment="colormode">
    <div class="form-check-switch mx-4 d-flex align-items-center">
        <input type="checkbox" id="flexSwitchCheckChecked" class="switch-input" checked onclick="toggleMode()" />
        <label for="flexSwitchCheckChecked" id="modeLabel" class="switch-label">Dark mode</label>
    </div>
</div>

<div th:fragment="navbar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/overview}">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/course/overview}">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/student/overview}">Students</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Logout <span sec:authentication="name"></span></a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright Marnix Ripke &copy;2025</p></footer>
</div>
<div th:fragment="bottomscripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script>
        function toggleMode() {
            const checkbox = document.getElementById('flexSwitchCheckChecked');
            const label = document.getElementById('modeLabel');
            label.textContent = checkbox.checked ? 'Dark mode' : 'Light mode';
            myFunction();
        }

        function myFunction() {
            const element = document.body;
            element.dataset.bsTheme =
                element.dataset.bsTheme === "light" ? "dark" : "light";
        }
    </script>

</div>

</body>
</html>