<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseheader">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/languageCenter.css" />
</head>
<body>

<div th:fragment="navbar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/overview}">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/course/overview}">Courses</a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright Marnix Ripke &copy;2025</p></footer>
</div>

<div th:fragment="bottomscripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>