<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the courses at the Language Center</title>
</head>
<body>
    <h1>Overview of all the courses at the Language Center</h1>

    <table>
        <tr>
            <th>Course title</th>
            <th>Teacher</th>
            <th>Lessons</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="course : ${allCourses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.teacher}"></td>
            <td>
                <span th:text="${course.getNumberOfAvailableLessons()}"></span> / <span th:text="${course.getNumberOfLessons()}"></span>
            </td>
            <td><a th:href="@{/course/delete/{courseId} (courseId = ${course.CourseId})}">delete</a></td>
            <td><a th:href="@{/lesson/new/{courseId} (courseId = ${course.CourseId})}">add</a></td>
        </tr>
    </table>
>
<a th:href="@{/course/new}">Add new course</a>

</body>
</html>