<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the courses at the Language Center</title>
</head>
<body>
    <h1>Overview of all the courses at the Language Center</h1>

    <table>
        <tr>
            <th>Course Title</th>
            <th>Teacher</th>
        </tr>
        <tr th:each="course : ${allCourses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.teacher}"></td>
        </tr>

    </table>


</body>
</html>