<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Courses Overview</title>
</head>
<body>

<div th:replace="~{fragments/general :: colormode}"></div>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overview of all the courses at the Language Center</h1>

    <table>
        <tr>
            <th style="padding-left: 100px; padding-right: 50px;"></th>
            <th style="padding-right: 50px;">Course title</th>
            <th style="padding-right: 210px;">Teacher</th>
            <th>Registrations</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="course : ${allCourses}">
            <td>
                <img th:src="${course.imageURL}" alt="Course image" style="max-height: 100px; max-width: 100px;" />
            </td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.teacherNames}"></td>
            <td style="padding-right: 30px;">
                <span th:text="${course.getNumberOfRegistrations()}"></span> /
                <span th:text="${course.getNumberOfAvailableRegistrations()}"></span>

            </td>
            <td style="padding: 10px;"><a th:href="@{/registration/new/{courseId} (courseId = ${course.CourseId})}">add registration</a></td>
            <td style="padding-left: 10px;"><a th:href="@{/course/delete/{courseId} (courseId = ${course.CourseId})}">delete course</a></td>
        </tr>
    </table>

    <a th:href="@{/course/new}">Add new course</a>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomscripts}"></div>

</body>
</html>